body {
	--color-primary: #009579;
	--color-primary-dark: #007f67;
	--color-secondary: #252c6a;
	--color-error: #cc3333;
	--color-success: #4bb544;
	--border-radius: 10px;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", "Courier New", monospace;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #000000;
}

img{
	cursor: pointer;
}

.flex-div{
	display: flex;
	align-items: center;
}

nav{
	padding: 8px 2%;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background: #fff;
	top: 0;
	z-index: 10;
	margin-bottom: 14px;
}
.nav-right img{
	width: 25px;
	margin-right: 15px;
	cursor: pointer;
}
.nav-right img:hover{
	background: #5A5A5A;
	cursor: pointer;
}
.nav-right img:active{
	transform: scale(0.98);
}
.nav-right .nav-circular-icon{
	width: 35px;
	border-radius: 50%;
	margin-right: 0px;
}

.search-bar{			
	border: 1px solid #5A5A5A;
	margin-left: 15px;
	padding: 6px 12px;
	border-radius: var(--border-radius);
	transition: background 0.2s, border-color 0.2s;
	outline: none;
	background: #eeeeee;
}

.search-bar:focus{
	border: 1px solid var(--color-primary);
	background: #ffffff;
}

.search-bar input{
	width: 400px;
	border: 0;
	outline: 0;
	background: transparent;
}

.left{
	width:300px;
	max-width:300px;
}

.left-container{
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	max-width: 300px;
	margin-left: 1rem;
	padding: 2rem;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	background: #ffffff;
	align-items: center;
	float:left;
	text-align: center;
	margin-bottom: 0.5rem;
}

.top-panel{
	height: 100%;
	width: 100%;
	background: var(--color-primary);
	color: white;
}

.bot-panel{
	height: 100%;
	width: 100%;
	background: #ffffff;
	text-align: center;
}

.left-container .second{
	
}

.form_button{
	width: 50%;
	padding: 0.5rem 0.25rem;
	font-size: 1rem;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	background: var(--color-primary);
}


.form_button:hover {
	background: var(--color-primary-dark);
	cursor: pointer;
}

.form_button:active {
	transform: scale(0.98);
}

.posts-container{
	align-items: center;
	margin-left: 330px;
}
.create-post{
	width: 575px;
	max-width: 575px;
	margin: 1rem;
	padding-top: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	background: #ffffff;
	background: var(--color-primary-dark);
}


.create-post .form_button{
	padding: 0.5rem 0.25rem;
	font-size: 1rem;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	width: 13%;
	background: var(--color-secondary);
}

.create-post .search-bar{
	margin-bottom: 1rem;
	width: 97.5%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: 6px;
}

.post{
	color: #ffffff;
	width: 575px;
	max-width: 575px;
	margin: 1rem;
	padding: 2rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	background: #ffffff;
	background: var(--color-primary);
}

.link:hover{
	background: var(--color-secondary);
}
.text_link:hover{
	text-decoration: underline;
	cursor: pointer;
}

.commentButton{
	padding: 0.5rem 0.25rem;
	font-size: 1rem;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	width: 13%;
	background: var(--color-secondary);
}

.likeButton{
	padding: 0.5rem 0.25rem;
	font-size: 1rem;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	width: 13%;
	background: var(--color-secondary);
}